.logo {
  display: flex;
  justify-content: center;
/*margin: 0 auto;*/
/*width: 100%;*/

}

.foot{
  color: white;
  /*position: absolute;*/
  /*position: fixed;*/
bottom: 0%;
}

.foot img{
  float: right;
}

/*.explore {
  margin: 15px solid white;
  color: white;
  background-color: inherit;
  border: 3px;
  border-color: white;
  border-spacing: 2px;
  text-decoration: none;
}*/


#text {
  padding-top: 200px;
}

#text {
  font-size: 70px;
  color: white;
  text-align: center;
}

/*#logos{
  float: right;
}*/

.row{
  padding-top: 200px;
}

.row #copyright{
  color: white;
}

.title {
  text-align: center;
  align-items: center;
  align-content: center;

}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
  outline: none;
  text-decoration: none;
}



.row #logos{
  padding-left: 87%;
}


body {
  background-image: url(../img/bg2.png);
 background-repeat: no-repeat;
 background-size: cover;

}

ul {
  list-style: none;
  padding: 0;
}

nav:before, nav:after {
  content: "";
  border: 1px solid black;
  width: 30%;
  height: 0;
  margin: 10px;
  position: relative;
  top: 12px;
}

li {
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}
