.logo{
  padding-left: 35%;
  padding-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  color: #996600;
}

nav:before, nav:after {
  content: "";
  border: 1px solid #996600;
  width: 40%;
  height: 0;
  margin: 10px;
  position: relative;
  top: 12px;
}

li {
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}

nav li:hover{
  color: white;
  background-color: #996600;
}

.banner{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 30px;
}
.container{
  padding-top: 120px;
  padding-left: 30px;
}

.row2{
  background-color: #996600;
  height: 70px;
  bottom: 0%;
  color: white;
  width:100%;
}

.row2 img {
  float: right;
  padding-bottom: 30px;
  display: inline-block;
  padding-right: 30px;
  padding-top: 10px;
}

.row2 p {
  padding-left: 40px;
  /*padding-top: 0px;*/
  display: inline-block;
  padding-top: 10px;
}

.row{
  margin: inherit;
}
