.logo {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





.logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  /*margin: 0 auto;*/
  /*width: 100%;*/
}

.foot {
  color: white;
  /*position: absolute;*/
  /*position: fixed;*/
  bottom: 0%;
}

.foot img {
  float: right;
}

/*.explore {
  margin: 15px solid white;
  color: white;
  background-color: inherit;
  border: 3px;
  border-color: white;
  border-spacing: 2px;
  text-decoration: none;
}*/

#text {
  padding-top: 200px;
}

#text {
  font-size: 70px;
  color: white;
  text-align: center;
}

/*#logos{
  float: right;
}*/

.row {
  padding-top: 200px;
}

.row #copyright {
  color: white;
}

.title {
  text-align: center;
  align-items: center;
  align-content: center;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.row #logos {
  padding-left: 87%;
}

body {
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
  padding: 0;
}

nav:before, nav:after {
  content: "";
  border: 1px solid black;
  width: 30%;
  height: 0;
  margin: 10px;
  position: relative;
  top: 12px;
}

li {
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}


.title {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
         -o-animation: fadein 8s; /* Opera < 12.1 */
            animation: fadein 8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
