.logo{
margin-left: 40%;
padding-top: 20px;

}

.foot{
  color: white;
  /*position: absolute;*/
  /*position: fixed;*/
bottom: 0%;
}

.foot img{
  float: right;
}

.explore {
  margin: 5px;
  color: white;
  background-color: inherit;
  border: 10px;
}


.title p{
  padding-top: 300px;
}

.title p{
  font-size: 70px;
}



.row{
  padding-top: 200px;
}

.row #copyright{
  color: #996600;
}

.row #logos{
  float: right;
}


html{
  background-image: url(".../img/bg1.png");
  min-height: 100%;
 /*background-repeat: no-repeat;*/
}

ul {
  list-style: none;
  padding: 0;
}

nav:before, nav:after {
  content: "";
  border: 1px solid black;
  width: 30%;
  height: 0;
  margin: 10px;
  position: relative;
  top: 12px;
}

li {
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}
